.header {
    display: flex;
    justify-content: space-between;
}

.header_left {
    /* flex: 0.5; */
    min-width: 80px;
    gap: 10px;
    background-color: white;
    color: grey;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.header_left input {
    height: 100%;
    border-radius: 30px;
    border: none;
}

.header_right {
    display: flex;
    align-items: center;
    gap: 10px;
}