.sidebar {
    height: 100vh;
    flex: 0.15;
    background-color: #040404;
    color: white;
    min-width: 200px;
    padding: 0 20px;
}

.sidebar hr {
    border: 1px solid grey;
    margin: 10px 0;
}

.sidebar p {
    font-size: 14px;
    width: 100%;
    height: 100%;
    padding: 10px 0 0 0;
}

.sidebar_logo {
    height: 50px;
    margin: 15px 0px;
}

.sidebar_title {
    text-transform: uppercase;
    font-size: 12px;

}