.sidebarOption {
    color: grey;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebarOption:hover {
    color: white;
}
